/* .hero{
    background-image:url("train back img.png") ;
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    min-height:100vh; */

.top-actions{
    position:absolute;
    top:30px;
    right:40px;
}

.coach-btn{

    background:#f59e0b;
    color:white;
    text-decoration:none;

    padding:12px 22px;

    border-radius:12px;

    font-weight:600;

    transition:.3s;

    box-shadow:0 8px 20px rgba(0,0,0,.25);

}

.coach-btn:hover{

    background:#d97706;
    transform:translateY(-4px);
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins',sans-serif;

}
html{
    scroll-behavior: smooth;

}
body{
    background:#f8fafc;
    color:#222;
    overflow-x: hidden;

}
/* ===hero section====== */
.hero{
    position: relative;
    width: 100%;
    min-height:100vh;
    background: linear-gradient(
        rgba(8,15,40..70),
        rgba(8,15,40..70)
        );
    /* url("train back img.png"); */
    background-size: cover;
    background-position:center;
    background-image:url("train back img.png");
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}
.overlay{
    position:absolute;
    inset:0;
    background:linear-gradient(135deg,rgba(0,0,.35),rgba(0,0,0,.15));

}
.hero-container{
    position:relative;
    z-index:2;
    width:100%;
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    gap:70px;
}
.hero-left{
    flex:1;
    color:white
}
.tag{
    display:inline-block;
    background:#f59e0b;
    padding:10px 22px;
    border-radius:50px;
    font-weight:600;
    margin-bottom:20px;
}
.hero-left h1{
    font-size:60px;
    line-height:1.2;
    margin-bottom: 20px;
}
.hero-left p{
    font-size:20px;
    line-height:35px;
    color:#dbeafe;
    margin-bottom: 35px;
    
}
/* ======buttons======= */
.hero-btn{
    display:flex;
    gap:20ox;
}
.book-btn{
    text-decoration:none;
    color:white;
    background:#2563eb;
    padding:16px 35px;
    font-weight:600;
    transition:35s;
}
.book-btn:hover{
    background:#1d4ed8;
    transform:translateY(-5px)
}
